<div class="container h-100" style="margin-top: -4rem;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7 col-sm-12 mx-auto">
      <h1 style="color: #673AB7">Sign Up</h1>
      <hr>
      <form [formGroup]="form" (ngSubmit)="onSignup()" style="font-size: 14px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-sm-12 mx-auto">
              <mat-form-field style="width: 100%; margin-top: 2rem">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required/>
              </mat-form-field>
             </div>
             <div class="col-md-10 col-sm-12 mx-auto">
              <mat-form-field style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required/>
              </mat-form-field>
             </div>
             <div class="col-md-12">
              <hr class="mx-auto">
             </div>
             <div class="col-md-12 col-sm-12">
              <div class="text-center" style="margin-top: 2rem">
                <p>Don't worry we will try our best to get you the best !!!</p>
                </div>
            </div>
             <div class="mx-auto" style="margin-top: 2rem">
              <button mat-raised-button color="primary" type="button" (click)="onCancel()" class="effect-shine mr-4">Cancel ?</button>
              <button mat-stroked-button color="primary" type="submit" class="effect-shine" [disabled]="form.invalid">Sign Up</button>
             </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


