* {
  font-family: 'Montserrat', sans-serif;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 5rem;
}

::ng-deep .colorful-snackbar{
  background-color: #673ab7 !important;
  color:white;
  margin-bottom: 4.8rem !important;
  letter-spacing: 1px;
}

::ng-deep .error-snackbar{
  background-color: red !important;
  color:white;
  margin-bottom: 4.8rem !important;
  letter-spacing: 1px;
}
