<div class="container" style="margin-top: 2rem; margin-bottom: 4rem;">
  <div class="row">
    <div class="col-sm-12" *ngIf="form.dirty">
      <div class="col-sm-9 mx-auto alert" style="background-color: transparent; border-color: #673ab7; color: #673ab7;">
        <strong>Information : </strong> You have made changes. Any unsaved changes will be lost so click save changes.
      </div>
    </div>
    <div class="col-sm-4">
      <mat-card class="sticky">
          <div>
            <img [src]="photoUrl || defaultPhoto"  class="mat-elevation-z8" style="background-size: cover !important;" height=300 width="100%" alt="Photo of a User">
          </div>
          <p class="mt-4">
            <span style="color: #673ab7">Name :</span> {{ user.knownAs }} | <span style="color: #673ab7">Age :</span> {{ user.age }}
          </p>
          <p class="mt-1">
            <span style="color: #673ab7">Location :</span> {{ user.city }}, {{ user.country }}
          </p>
          <p class="mt-1">
            <span style="color: #673ab7">Last Active :</span> {{ user.lastActive | timeago: 'live' }}
          </p>
          <p class="mt-1">
            <span style="color: #673ab7">Member Since :</span> {{ user.created | date: 'longDate' }}
          </p>
          <p class="mt-3 btn-group d-flex">
            <button mat-raised-button [disabled]="!form.dirty" style="background-color: #673ab7; color: white" class="w-100" (click)="onUpdate()">Save Changes</button>
          </p>
      </mat-card>
    </div>
    <div class="col-sm-8">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Edit Profile">
          <div class="container">
            <form [formGroup]="form">
              <div class="row"  style="letter-spacing: 2px;">
                <div class="col-12 mt-4">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="introduction" placeholder="Ex. Tell me something about you..." rows="6">{{ user.introduction }}</textarea>
                  </mat-form-field>
                  <mat-form-field style="width: 100%;">
                    <mat-label>Looking For</mat-label>
                    <textarea matInput formControlName="lookingFor" placeholder="Ex. Tell me something about the things you would like to have in your other half..." rows="6">{{ user.lookingFor }}</textarea>
                  </mat-form-field>
                  <mat-form-field style="width: 100%;">
                    <mat-label>Interests</mat-label>
                    <textarea matInput formControlName="interests" placeholder="Ex. Tell me what you would love to do..." rows="6">{{ user.interests }}</textarea>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-md-5 col-sm-6">
                      <mat-form-field style="width: 100%;">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" placeholder="Ex. New York" [value]="user.city">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-6 offset-md-1">
                      <mat-form-field style="width: 100%;">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" placeholder="Ex. United States of America" [value]="user.country">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Edit Photos">
          <div class="container">
            <div class="row"  style="letter-spacing: 1px;">
              <div class="col-12 mt-5">
                <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

